# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Turbo
.turbo

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# Operating System
.DS_Store
Thumbs.db

# IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
